*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white-color: #fff;
    --black-color: #000;
    --light-white-color: #f0f0f0;
    --light-gray-color: #e5e5e5;
    --border-color: #d4d4d4;
    --primary-color: #3b82f6;
    --secondary-color: #404040;
    --overlay-dark-color: rgba(0, 0, 0, 0.6);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navbar :where(.nav-section, .search-form, .nav-logo){
    display: flex;
    align-items: center;
}

.navbar .nav-section{
    gap: 1rem;
}

.navbar :where(.logo-image, .user-image){
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.navbar .nav-button{
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
}

.navbar .nav-button:hover{
    background-color: var(--light-gray-color);
}

.navbar .nav-button i{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.navbar .nav-logo{
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
}

.navbar .nav-logo .logo-text{
    font-size: 1.25rem;
    color: var(--black-color);
}

.navbar .nav-center{
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar .search-form{
    max-width: 550px;
    flex: 1;
    height: 40px;
}

.navbar .search-form .search-input{
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    padding: 0 1rem;
    outline: none;
    border-radius: 3.1rem 0 0 3.1rem;
    font-size: 1rem;
}

.navbar .search-form .search-button{
    width: auto;
    padding: 0 1.25rem;
    border-radius: 0 3.1rem 3.1rem 0 ;
    border: 1px solid var(--border-color);
    border-left: 0;
}